<ul>
  <% current_user.followed_users.each do |followed_user| %>
    
    <li>
      <p class="left">ユーザー名<%= followed_user.name %>さんがコメントしました。</p>
      <p class="left">メールアドレス<%= followed_user.email %></p>

    </li>
    
  <% end %>
</ul>