<h2>あなたがフォローしている人</h2>
<ul>
  <% current_user.followed_users.each do |followed_user| %>
    <li>
      <%= profile_img(followed_user) %>
      ユーザー名：<%= followed_user.name %>
    </li>
  <% end %>
</ul>